<!-- Extends base -->
{% extends 'shared/base.html' %}

<!-- CSS block -->
{% block CSS %}
<link  href="{{ url_for('static', path='css\laptoppricepred.css') }}"  rel="stylesheet"/>
{% endblock CSS%}

<!-- title block -->
{% block title %} Laptop Price Prediction {% endblock title %}

<!-- Content block -->
{% block content %}
<section id="Modelhead">
    <div id="writtencontent">
        <h2 id="name">
            Laptop Price Prediction
        </h2>
        <div id="statement">
            It is easy to get tricked into paying too much for a laptop in an
        electronic market. This tool uses data on laptop specs to predict the
        price of a specific laptop, helping buyers avoid overpaying and shop
        owners prove their prices are fair.
        </div>
    </div>
    <div id="modelphoto">
        <img src="{{url_for('static', path='images\laptopprice.png')}}"alt="Laptop Price Prediction"class="problemphoto"width="550" height="400"/>
    </div>
</section>
<hr>
<section id="modelvalues">
    <div id="valueheading">
        <h3>Values To Be Enterd For Predictions</h3>
    </div>
    <div id="valuetable">
        <table class="table table-dark table-hover table-bordered ">
            <caption>Values to be Entered</caption>
            <thead>
                <tr>
                    <th scope="col">S.no.</th>
                    <th scope="col">Label</th>
                    <th scope="col">Value To Be Added</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>Brand</td>
                    <td>The company of the laptop whoes price you want to know</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Type</td>
                    <td>What type of that particular laptop is for example notebook, gaming etc.</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>RAM</td>
                    <td>Size of RAM in GB</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Weight</td>
                    <td>Weight of the laptop</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>TouchScreen</td>
                    <td>Is the laptop Touch Screen?</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>IPS</td>
                    <td>Is laptop is having IPS display?</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Screen Size</td>
                    <td>What is resolution of the laptop</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>CPU</td>
                    <td>CPU brand</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>HDD</td>
                    <td>Size of HDD in GB</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>SSD</td>
                    <td>Size of SSD in GB</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>GPU</td>
                    <td>GPU Brand</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>OS</td>
                    <td>Select Operationg System</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<hr>
<section id="modelform">
    <div id="formtitle">
        <h3>
            Laptop Price Prediction
        </h3>
    </div>
    <div id="actualform">

    </div>
    <div id="submitbton">

    </div>
</section>
<hr>
<section id="result">
    <div id="reshead">
        <h3>Result</h3>
    </div>
    <div id="message">
        The Price of the Laptop you entered is :
    </div>
    <div id="finalresult">

    </div>
</section>
{% endblock content %}